:root{
    --bgc:#fbfbfb;
}
.custom-nav-tabs-product-page .nav-link{
    border-radius: 0 !important;
    font-size: 16px;
}
.custom-nav-tabs-product-page .nav-link.active,.custom-nav-tabs-product-page .nav-item.show .nav-link{
    border-radius: 0 !important;
    border-top: 3px solid red;
}
.custom-tab-pane-product h5{
    
    color: #848181;
}
.product-describ{
    font-size: 15px;
    line-height: 36px;
    background-color: #fbfbfb;

}
.product-rate p{
    font-size: 14px;
}
.product-main-desc{
    font-size: 14px;
    line-height: 36px;
    margin-right: 15px;

}
.product-desc-step li{
    border-right: 1px solid #a0a0a0;
    font-size: 16px;
    line-height: 42px;
    margin-top: 10px;
    position: relative;
}

.product-desc-step li i{
    color: #a0a0a0 !important;
    font-size: 20px;
    position: absolute;
    right: -10px;
    top: -14px;
}
.product-desc-step li div{
    max-width: 500px;
    margin: 0 auto;
}
.custom-tab-pane-product-detail ul li .key , .custom-tab-pane-product-detail ul li .value{
    font-size: 15px;
    background-color: rgb(240 232 232 / 73%);
    height: 55px;

}
.custom-tab-pane-product-detail ul li .key{
    flex: 0 0 20%;
}
.custom-tab-pane-product-detail ul li .value{
    flex: 0 0 78%;
}
.custom-tab-pane-product-detail ul p {
   font-size: 16px;
}
.custom-tab-pane-product-detail ul p i{
    vertical-align: -3px;
    
 }
 .add-comment p:first-child {
     font-size: 20px;
     color: #333;
 }
 .add-comment p:nth-child(2) {
    font-size: 16px;
}
.user-detail i.fa-user{
    font-size: 58px;
}
.user-detail .username{
    font-size: 15px;
}
.f-15{
    font-size: 15px;

}
.f-16{
    font-size: 16px;

}
.f-18{
    font-size: 18px;

}
.f-12{
    font-size: 12px;

}
.comment-body ul li{
    font-size: 14px;
}
.comment-body ul li i{
    font-size: 8px;
    color: rgb(49, 49, 148);
}
.customer-comment input::-webkit-input-placeholder,.customer-comment textarea::-webkit-input-placeholder{
    font-size: 14px;
}